<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d291815.06381023367!2d61.1283889791129!3d55.151687752963745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592cb104a3a8d%3A0xef224a2a6d1711bf!2sChelyabinsk%2C%20Chelyabinsk%20Oblast%2C%20Russia!5e0!3m2!1sen!2sin!4v1607508440023!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>